.header{
    padding: 40px 0;
    background: #fff;
}
.header h1{
    position: relative;
    font-family: 'Roboto Slab', serif;
}
.header p{
	font-size: 15px;
}
.header h1::after {
	content: "";
	position: absolute;
	height: 2px;
	width: 40px;
	background: #23a8f2;
	right: 50%;
	bottom: -32%;
}

/* IMG-SECTION-PART */
.img-section{
    padding: 50px 0;
}
img{
    max-width: 100%;
}
.img-part{
    position: relative;
}
.img-part img{
    border-radius: 10px;
}
.img-cercle-part {
	position: absolute;
	right: 3%;
	bottom: 7%;
	background: #3763eb;
    color: #fff;
	display: inline-block;
	border-radius: 20px;
	padding: 4px;
}
.img-cercle-part img {
	width: 23px;
	height: auto;
	display: inline-block;
	border-radius: 500%;
}
.img-cercle-part h6{
    display: inline-block;
}
.img-contant-section{
    padding: 15px 0;
}
.img-contant-section h4{
    font-family: 'Roboto Slab', serif;
}
.img-contant-section p {
	font-size: 15px;
}

/* footer-section */


.footer{
	background: #111111;
	color: #fff;
}
.footer h3{
	margin-bottom: 20px;
	padding-bottom: 20px;
    position: relative;
}
.footer h3::before {
	content: "";
	position: absolute;
	width: 2px;
	height: 31px;
	left: -7px;
	top: 15%;
	background: #fff;
}
.footer-top{
	border-bottom: 1px solid #333535;
}
.footer-bottom{
	padding: 0;
	margin-top: 25px;
}
.footer ul {
	list-style: none;
	padding-left: 0;
}
.footer ul li{}
.footer ul li a {
	text-decoration: none;
	color: #fff;
	line-height: 36px;
	transition: .4s;
}
.footer ul li span{
	margin-left: -30px;
}
.footer ul li a i{
	padding: 0 10px;
}
.footer ul li a:hover{
	letter-spacing: 2px;
	color: #dc3545;
}